@charset "UTF-8";

body {
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: normal;
}

body._lock {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  padding: 10px 10px;
  background: #457944;
  border-radius: 50px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  -webkit-transition: color 0.3s ease 0s, background 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s, background 0.3s ease 0s;
  transition: color 0.3s ease 0s, background 0.3s ease 0s;
}

.btn:hover {
  background: #fdf8f3;
  color: #457944;
}

.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 125%;
  text-align: center;
  color: #424141;
  text-transform: uppercase;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Semibold.woff") format("woff"), url("../fonts/Gilroy-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.image-slider {
  padding: 30px 0 70px 0;
}

.image-slider__image {
  text-align: center;
}

.image-slider__image img {
  max-width: 100%;
}

.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
  color: #fff;
  font-size: 80px;
}

.image-slider .swiper-pagination {
  margin-top: 20px;
}

.image-slider .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  background-color: #fff;
  line-height: 20px;
  font-size: 14px;
  color: blue;
  text-align: center;
}

.image-slider .swiper-pagination-fraction {
  font-size: 20px;
  color: #fff;
}

.image-slider .swiper-pagination-progressbar-fill {
  background-color: #7a956b;
}

.image-slider .swiper-scrollbar-drag {
  cursor: pointer;
  background-color: #7a956b;
}

.image-slider .swiper-slide {
  width: auto;
}

/*
.image-slider {
	height: 700px;
}
.image-slider .swiper-slide {
	height: calc((100% - 30px) / 2);
	overflow: hidden;
} */

/*
// Вертикальный слайдер
.image-slider {
	padding: 0px 0 0px 0;
	height: 700px;
}

.image-slider {
	width: 500px;
}
*/

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]::before,
[class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-phone:before {
  content: "\e906";
}

._icon-time:before {
  content: "\e900";
}

._icon-map-location:before {
  content: "\e902";
}

._icon-facebook-square:before {
  content: "\e903";
}

._icon-instagram-square:before {
  content: "\e904";
}

._icon-mail:before {
  content: "\e905";
}

._icon-telegram:before {
  content: "\e907";
}

._icon-whatsapp-square:before {
  content: "\e908";
}

._icon-chevron-double-down:before {
  content: "\e901";
}

.header {
  background: url("../img/bg.jpg") center/cover no-repeat;
  min-height: 100vh;
  color: #ffffff;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

.top-header {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.top-header__logo {
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  text-transform: uppercase;
  margin: auto 0;
}

.top-header__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-header__column:nth-child(2),
.top-header__column:nth-child(3) {
  padding: 0px 0px 10px 0px;
}

.top-header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-header__location {
  font-size: 16px;
  line-height: 125%;
  margin: 0px 0px 10px 0px;
  position: relative;
  padding: 0px 0px 0px 25px;
}

.top-header__location::before {
  font-size: 24px;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.top-header__time {
  font-size: 16px;
  line-height: 125%;
  position: relative;
  padding: 0px 0px 0px 25px;
}

.top-header__time::before {
  font-size: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.top-header__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 10px 0px;
}

.top-header__social {
  color: #fff;
  font-size: 25px;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.top-header__social:not(:last-child) {
  margin: 0px 15px 0px 0px;
}

.top-header__social:hover {
  color: #40c63d;
}

.top-header__email {
  color: #fff;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.top-header__email::before {
  padding: 0px 5px 0px 0px;
}

.top-header__email:hover {
  color: #40c63d;
}

.top-header__telephone {
  color: #fff;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  margin: 0px 0px 10px 0px;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.top-header__telephone::before {
  font-size: 20px;
  padding: 0px 10px 0px 0px;
}

.top-header__telephone:hover {
  color: #40c63d;
}

.center-header {
  position: relative;
  z-index: 5;
}

.center-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 32;
}

.center-header__list::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  width: 10000px;
  left: -2000px;
  height: 2px;
  top: 0;
}

.center-header__list::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  width: 10000px;
  left: -2000px;
  height: 2px;
  bottom: 0;
}

.center-header__link {
  display: block;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  font-weight: 700;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  padding: 20px 5px;
}

.center-header__link:hover {
  color: #40c63d;
}

.bottom-header {
  padding: 20px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-header__body {
  padding: 60px;
  text-align: center;
  color: #ffffff;
  background: rgba(44, 41, 41, 0.5);
}

.bottom-header__title {
  font-size: 36px;
  line-height: 125%;
  font-weight: 700;
  margin: 0px 0px 20px 0px;
}

.bottom-header__subtitle {
  font-size: 20px;
  line-height: 125%;
  font-weight: 700;
  margin: 0px 0px 30px 0px;
}

.bottom-header__text {
  font-size: 20px;
  line-height: 150%;
  font-weight: 600;
  max-width: 730px;
  margin: 0 auto;
}

.icon-burger {
  display: none;
}

.page-steps__container._active .page-steps__item:nth-child(1) {
  -webkit-transition: all 0.8s ease 0.2s;
  -o-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
}

.page-steps__container._active .page-steps__item:nth-child(2) {
  -webkit-transition: all 0.8s ease 0.4s;
  -o-transition: all 0.8s ease 0.4s;
  transition: all 0.8s ease 0.4s;
}

.page-steps__container._active .page-steps__item:nth-child(3) {
  -webkit-transition: all 0.8s ease 0.6s;
  -o-transition: all 0.8s ease 0.6s;
  transition: all 0.8s ease 0.6s;
}

.page-steps__container._active .page-steps__item:nth-child(4) {
  -webkit-transition: all 0.8s ease 0.8s;
  -o-transition: all 0.8s ease 0.8s;
  transition: all 0.8s ease 0.8s;
}

.page-steps__container._active .page-steps__item:nth-child(5) {
  -webkit-transition: all 0.8s ease 1s;
  -o-transition: all 0.8s ease 1s;
  transition: all 0.8s ease 1s;
}

.page-features__container._active .page-features__item:nth-child(1) {
  -webkit-transition: all 0.8s ease 0.2s;
  -o-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
}

.page-features__container._active .page-features__item:nth-child(2) {
  -webkit-transition: all 0.8s ease 0.4s;
  -o-transition: all 0.8s ease 0.4s;
  transition: all 0.8s ease 0.4s;
}

.page-features__container._active .page-features__item:nth-child(3) {
  -webkit-transition: all 0.8s ease 0.6s;
  -o-transition: all 0.8s ease 0.6s;
  transition: all 0.8s ease 0.6s;
}

.page-features__container._active .page-features__item:nth-child(4) {
  -webkit-transition: all 0.8s ease 0.8s;
  -o-transition: all 0.8s ease 0.8s;
  transition: all 0.8s ease 0.8s;
}

.page-features__container._active .page-features__item:nth-child(5) {
  -webkit-transition: all 0.8s ease 1s;
  -o-transition: all 0.8s ease 1s;
  transition: all 0.8s ease 1s;
}

.page-features__container._active .page-features__item:nth-child(6) {
  -webkit-transition: all 0.8s ease 1.2s;
  -o-transition: all 0.8s ease 1.2s;
  transition: all 0.8s ease 1.2s;
}

.footer {
  background: #797676;
  padding: 20px 0 40px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 121.42857%;
}

.footer a {
  color: #fff;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.footer__logo {
  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
  margin: 0px 0px 15px 0px;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.footer__social {
  font-size: 25px;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.footer__social:not(:last-child) {
  margin: 0px 15px 0px 0px;
}

.footer__social:hover {
  color: #40c63d;
}

.footer__link {
  margin: 0px 0px 10px 0px;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  display: inline-block;
}

.footer__link:hover {
  color: #40c63d;
}

.footer__popup {
  margin: 0px 0px 10px 0px;
  display: inline-block;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.footer__popup:hover {
  color: #40c63d;
}

.footer__contacts a:hover {
  color: #40c63d;
}

.footer__contact {
  display: inline-block;
  font-size: 16px;
  line-height: 125%;
  position: relative;
  padding: 0px 0px 0px 30px;
  margin: 0px 0px 15px 0px;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.footer__contact::before {
  font-size: 25px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.page-shkaf {
  background-color: #fdf8f3;
}

.page-shkaf__container {
  padding: 60px 0;
}

.page-shkaf__title {
  margin: 0px 0px 20px 0px;
}

.page-shkaf__item:not(:last-child) {
  margin: 0px 0px 40px 0px;
}

.page-shkaf__content {
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
}

.page-shkaf__back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.page-shkaf__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 10px;
  z-index: 2;
  background: #ffffff;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.page-shkaf__img {
  height: 100%;
  display: block;
  text-align: center;
}

.page-shkaf__img img {
  max-width: 100%;
}

.page-shkaf__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 30px 50px 34px 5px;
  color: #424141;
  font-weight: 700;
  z-index: 2;
  background: #ffffff;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.page-shkaf__label {
  font-size: 20px;
  line-height: 125%;
  text-align: center;
}

.page-shkaf__content._active .page-shkaf__left {
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  border-right: 2px solid #457944;
}

.page-shkaf__content._active .page-shkaf__right {
  -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
          transform: translate(100%, 0);
  border-left: 2px solid #457944;
}

.form-shkaf__table {
  margin: 0px 0px 30px 0px;
}

.form-shkaf__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-shkaf__button {
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.form-shkaf__button:not(:last-child) {
  margin: 0px 30px 0px 0px;
}

.table-shkaf {
  width: 100%;
  border-collapse: collapse;
}

.table-shkaf th,
.table-shkaf td {
  padding: 10px 0;
  text-align: center;
}

.top-table {
  border-bottom: 2px solid #457944;
}

.bottom-table {
  border-bottom: 1px solid #457944;
}

.bottom-table__left {
  text-align: left;
}

.back-shkaf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

.back-shkaf__center {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0 10px;
}

.back-shkaf__label {
  font-weight: 700;
  font-size: 20px;
  line-height: 125%;
  color: #424141;
  margin: 0px 0px 50px 0px;
}

.back-shkaf__button {
  display: block;
  max-width: 300px;
}

.back-shkaf__button:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.back-shkaf__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 35%;
          flex: 0 1 35%;
  text-align: center;
  margin: auto 0;
}

.back-shkaf__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 35%;
          flex: 0 1 35%;
  text-align: center;
  margin: auto 0;
}

.back-shkaf__img {
  width: 100%;
}

.back-shkaf__img img {
  max-width: 100%;
}

.page-steps {
  padding: 60px 0;
}

.page-steps__container._active .page-steps__title,
.page-steps__container._active .page-steps__item {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  visibility: visible;
  opacity: 1;
}

.page-steps__title {
  margin: 0px 0px 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(0, 300px);
      -ms-transform: translate(0, 300px);
          transform: translate(0, 300px);
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  visibility: hidden;
  opacity: 0;
}

.page-steps__title span {
  font-size: 100px;
  color: #457944;
  margin: 0px 20px 0px 0px;
}

.page-steps__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -40px -15px 0px;
  overflow: hidden;
}

.page-steps__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  margin: 40px 0px 0px 0px;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(0, 300px);
      -ms-transform: translate(0, 300px);
          transform: translate(0, 300px);
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  visibility: hidden;
  opacity: 0;
}

.content-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 20px 0;
  color: #424141;
}

.content-steps__number {
  position: relative;
  border-radius: 50%;
  color: #fff;
  font-weight: 600;
  font-size: 26px;
  margin: 0px 0px 30px 0px;
  z-index: 2;
}

.content-steps__number::before {
  content: "";
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  background-color: #457944;
  border-radius: 50%;
  z-index: -1;
}

.content-steps__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  margin: 0px 0px 10px 0px;
}

.content-steps__text {
  font-weight: 400;
  font-size: 16px;
}

.page-features {
  padding: 60px 0;
  background-color: #fdf8f3;
}

.page-features__container._active .page-features__title,
.page-features__container._active .page-features__item {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  visibility: visible;
  opacity: 1;
}

.page-features__title {
  margin: 0px 0px 50px 0px;
  -webkit-transform: translate(0, 300px);
      -ms-transform: translate(0, 300px);
          transform: translate(0, 300px);
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  visibility: hidden;
  opacity: 0;
}

.page-features__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -40px -15px 0px;
  overflow: hidden;
}

.page-features__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  margin: 40px 0px 0px 0px;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(0, 300px);
      -ms-transform: translate(0, 300px);
          transform: translate(0, 300px);
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  visibility: hidden;
  opacity: 0;
}

.content-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 40px 10px 30px;
  color: #424141;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.content-features__number {
  position: relative;
  border-radius: 50%;
  color: #fff;
  font-weight: 600;
  font-size: 26px;
  margin: 0px 0px 30px 0px;
  z-index: 2;
}

.content-features__number::before {
  content: "";
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  background-color: #457944;
  border-radius: 50%;
  z-index: -1;
}

.content-features__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 127.77778%;
  margin: 0px 0px 10px 0px;
}

.content-features__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 127.77778%;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  color: #424141;
  background-color: #fff;
  max-width: 550px;
  padding: 30px;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 0;
  -webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
          transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popup__close {
  position: absolute;
  display: block;
  right: 30px;
  top: 30px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  text-decoration: none;
}

.popup__close span {
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  top: calc(50% - 1px);
  left: 0px;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #457944;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.popup__close span:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(50% - 1px);
}

.popup__close span:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.popup__title {
  font-size: 23px;
  font-weight: 600;
  letter-spacing: 0.69px;
  margin: 50px 0px 30px 0px;
  text-align: center;
}

.popup__text {
  font-size: 14px;
  font-weight: 400;
  margin: 0px 0px 40px 0px;
  line-height: 142.85714%;
  text-align: center;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  opacity: 1;
  -webkit-transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
          transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
}

.popup-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  max-width: 370px;
}

.popup-form__item {
  /* Style for "Rectangle" */
  width: 370px;
  height: 56px;
  border: 2px solid #bdbdbd;
  margin: 0px auto 20px auto;
  color: #bdbdbd;
  font-size: 14px;
  font-weight: 400;
  padding: 0 20px;
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.popup-form__item::-webkit-input-placeholder {
  color: #bdbdbd;
}

.popup-form__item::-moz-placeholder {
  color: #bdbdbd;
}

.popup-form__item:-ms-input-placeholder {
  color: #bdbdbd;
}

.popup-form__item::-ms-input-placeholder {
  color: #bdbdbd;
}

.popup-form__item::placeholder {
  color: #bdbdbd;
}

.popup-form__item:hover {
  border: 2px solid #599c58;
}

.popup-form__item:focus {
  border: 2px solid #457944;
}

.popup-form__file {
  position: absolute;
  z-index: -1;
  width: 0, 1px;
  height: 0, 1px;
  opacity: 0;
  visibility: hidden;
}

.popup-form__upload {
  padding: 18px 20px;
  cursor: pointer;
}

.popup-form__message {
  resize: none;
  width: 100%;
  height: 180px;
  padding: 10px 20px;
}

.popup-form__button {
  width: 137px;
  height: 40px;
  color: #fff;
  background-color: #457944;
  margin: 0px 0px 0px auto;
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.popup-form__button span {
  font-size: 16px;
  font-weight: 400;
}

.popup-form__button:hover {
  background: #fdf8f3;
  color: #457944;
}

.popup-form__button:focus {
  background-color: #3e7046;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.of img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.ibg {
  position: relative;
}

.ibg img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 767px) {
  .title {
    font-size: calc(32px + 4 * (100vw / 1920));
  }
}

@media (min-width: 991.98px) {
  .center-header__menu {
    position: relative;
  }

  .center-header__menu::after {
    content: "";
    background: rgba(78, 78, 78, 0.5);
    position: absolute;
    width: 10000px;
    left: -2000px;
    height: 100%;
    top: 0;
    z-index: 1;
  }
}

@media (max-width: 1212px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }

  .center-header {
    position: fixed;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100%;
    display: block;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 25px 30px 30px;
    -webkit-transition: right 0.3s ease 0s;
    -o-transition: right 0.3s ease 0s;
    transition: right 0.3s ease 0s;
    overflow: auto;
    z-index: 6;
    border-left: 2px solid #e0e0e0;
    background: rgba(78, 78, 78, 0.9);
  }

  .center-header._active {
    right: 0;
  }

  .center-header__menu {
    margin: 0px 0px 50px 0px;
  }

  .center-header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .icon-burger {
    display: block;
    position: relative;
    top: 20px;
    right: 10px;
    width: 33px;
    height: 25px;
    cursor: pointer;
    z-index: 51;
  }

  .icon-burger span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;
  }

  .icon-burger span:first-child {
    top: 0px;
  }

  .icon-burger span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-burger._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-burger._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-burger._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

@media (max-width: 767px) {
  .title {
    font-size: calc(32px + 6.8 * ((100vw - 320px) / 1920));
  }
}

@media (max-width: 479.98px) {
  .popup-form {
    max-width: 290px;
  }
}

.webp .header{ background: url(../img/bg.webp) center/cover no-repeat; }